## General

# Compiled Object files
*.slo
*.lo
*.o
*.cuo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled protocol buffers
*.pb.h
*.pb.cc
*_pb2.py

# Compiled python
*.pyc

# Compiled MATLAB
*.mex*

# IPython notebook checkpoints
.ipynb_checkpoints

# Editor temporaries
*.swp
*~

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Eclipse Project settings
*.*project
.settings

# QtCreator files
*.user

# PyCharm files
.idea

# OSX dir files
.DS_Store

## Caffe

# User's build configuration
Makefile.config

# Data and models are either
# 1. reference, and not casually committed
# 2. custom, and live on their own unless they're deliberated contributed
data/*
models/*
*.caffemodel
*.solverstate
*.binaryproto
*leveldb
*lmdb

# build, distribute, and bins (+ python proto bindings)
build
.build_debug/*
.build_release/*
distribute/*
*.testbin
*.bin
python/caffe/proto/
cmake_build
.cmake_build

# Generated documentation
docs/_site
docs/gathered
_site
doxygen
docs/dev

# LevelDB files
*.sst
*.ldb
LOCK
LOG*
CURRENT
MANIFEST-*

#caffe directory
CMakeLists.txt
CONTRIBUTORS.md
INSTALL.md
LICENSE
Makefile
Makefile.config.example
README.md
caffe.cloc
cmake/
docs/
examples/
matlab/
python/
scripts/
tools/
.Doxyfile
.travis.yml
include/caffe/blob.hpp
include/caffe/caffe.hpp
include/caffe/common.hpp
include/caffe/common_layers.hpp
include/caffe/data_transformer.hpp
include/caffe/filler.hpp
include/caffe/internal_thread.hpp
include/caffe/layer.hpp
include/caffe/layer_factory.hpp
include/caffe/net.hpp
include/caffe/neuron_layers.hpp
include/caffe/python_layer.hpp
include/caffe/solver.hpp
include/caffe/syncedmem.hpp
include/caffe/test/
include/caffe/util/
include/caffe/vision_layers.hpp
myworkspace/CIFAR-10/
myworkspace/compute_image_mean.sh
myworkspace/create_dataset.sh
myworkspace/depths/depths/
myworkspace/depths/rawImages/
myworkspace/depths/test
myworkspace/depths/test.cpp
myworkspace/mytest/
myworkspace/tiny_imagenet/
src/caffe/blob.cpp
src/caffe/common.cpp
src/caffe/data_transformer.cpp
src/caffe/internal_thread.cpp
src/caffe/layer_factory.cpp
src/caffe/layers/absval_layer.cpp
src/caffe/layers/absval_layer.cu
src/caffe/layers/accuracy_layer.cpp
src/caffe/layers/argmax_layer.cpp
src/caffe/layers/base_conv_layer.cpp
src/caffe/layers/base_data_layer.cpp
src/caffe/layers/base_data_layer.cu
src/caffe/layers/bnll_layer.cpp
src/caffe/layers/bnll_layer.cu
src/caffe/layers/concat_layer.cpp
src/caffe/layers/concat_layer.cu
src/caffe/layers/contrastive_loss_layer.cpp
src/caffe/layers/contrastive_loss_layer.cu
src/caffe/layers/conv_layer.cpp
src/caffe/layers/conv_layer.cu
src/caffe/layers/cudnn_conv_layer.cpp
src/caffe/layers/cudnn_conv_layer.cu
src/caffe/layers/cudnn_pooling_layer.cpp
src/caffe/layers/cudnn_pooling_layer.cu
src/caffe/layers/cudnn_relu_layer.cpp
src/caffe/layers/cudnn_relu_layer.cu
src/caffe/layers/cudnn_sigmoid_layer.cpp
src/caffe/layers/cudnn_sigmoid_layer.cu
src/caffe/layers/cudnn_softmax_layer.cpp
src/caffe/layers/cudnn_softmax_layer.cu
src/caffe/layers/cudnn_tanh_layer.cpp
src/caffe/layers/cudnn_tanh_layer.cu
src/caffe/layers/data_layer.cpp
src/caffe/layers/deconv_layer.cpp
src/caffe/layers/deconv_layer.cu
src/caffe/layers/dropout_layer.cpp
src/caffe/layers/dropout_layer.cu
src/caffe/layers/dummy_data_layer.cpp
src/caffe/layers/eltwise_layer.cpp
src/caffe/layers/eltwise_layer.cu
src/caffe/layers/euclidean_loss_layer.cpp
src/caffe/layers/euclidean_loss_layer.cu
src/caffe/layers/exp_layer.cpp
src/caffe/layers/exp_layer.cu
src/caffe/layers/filter_layer.cpp
src/caffe/layers/filter_layer.cu
src/caffe/layers/flatten_layer.cpp
src/caffe/layers/hdf5_data_layer.cpp
src/caffe/layers/hdf5_data_layer.cu
src/caffe/layers/hdf5_output_layer.cpp
src/caffe/layers/hdf5_output_layer.cu
src/caffe/layers/hinge_loss_layer.cpp
src/caffe/layers/im2col_layer.cpp
src/caffe/layers/im2col_layer.cu
src/caffe/layers/image_data_layer.cpp
src/caffe/layers/infogain_loss_layer.cpp
src/caffe/layers/inner_product_layer.cpp
src/caffe/layers/inner_product_layer.cu
src/caffe/layers/log_layer.cpp
src/caffe/layers/log_layer.cu
src/caffe/layers/loss_layer.cpp
src/caffe/layers/lrn_layer.cpp
src/caffe/layers/lrn_layer.cu
src/caffe/layers/memory_data_layer.cpp
src/caffe/layers/multinomial_logistic_loss_layer.cpp
src/caffe/layers/mvn_layer.cpp
src/caffe/layers/mvn_layer.cu
src/caffe/layers/neuron_layer.cpp
src/caffe/layers/pooling_layer.cpp
src/caffe/layers/pooling_layer.cu
src/caffe/layers/power_layer.cpp
src/caffe/layers/power_layer.cu
src/caffe/layers/prelu_layer.cpp
src/caffe/layers/prelu_layer.cu
src/caffe/layers/reduction_layer.cpp
src/caffe/layers/reduction_layer.cu
src/caffe/layers/relu_layer.cpp
src/caffe/layers/relu_layer.cu
src/caffe/layers/reshape_layer.cpp
src/caffe/layers/sigmoid_cross_entropy_loss_layer.cpp
src/caffe/layers/sigmoid_cross_entropy_loss_layer.cu
src/caffe/layers/sigmoid_layer.cpp
src/caffe/layers/sigmoid_layer.cu
src/caffe/layers/silence_layer.cpp
src/caffe/layers/silence_layer.cu
src/caffe/layers/slice_layer.cpp
src/caffe/layers/slice_layer.cu
src/caffe/layers/softmax_layer.cpp
src/caffe/layers/softmax_layer.cu
src/caffe/layers/softmax_loss_layer.cpp
src/caffe/layers/softmax_loss_layer.cu
src/caffe/layers/split_layer.cpp
src/caffe/layers/split_layer.cu
src/caffe/layers/spp_layer.cpp
src/caffe/layers/tanh_layer.cpp
src/caffe/layers/tanh_layer.cu
src/caffe/layers/threshold_layer.cpp
src/caffe/layers/threshold_layer.cu
src/caffe/layers/window_data_layer.cpp
src/caffe/net.cpp
src/caffe/solver.cpp
src/caffe/syncedmem.cpp
src/caffe/test/
src/caffe/util/
src/gtest/
